@model WebApplication1.Models.TestData
@* Import required models*@

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Display</title>
</head>
<body>
    <div>
        <h1>
            Id: @Model.id
        </h1>
        <h2>
            Name: @Model.name
        </h2>
        <a href='/Home'>Go to home</a>
    </div>
</body>
</html>
